* {
  margin: 0;
  padding: 0;
}

.navbar_container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background: #e4e4e4;
}
.navlink {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.navlink:hover {
  color: rgb(219, 82, 82);
}

.active_class {
  border-bottom: 1px solid rgb(243, 78, 111);
  color: crimson;
}

h1 {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

span{
  color: crimson;
}
